sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/

@grfe:registry=http://r.npm.guorou.net/
@grfe:always-auth=true
@grfe:_auth=bnBtcmM6MTIzNDU2

registry=https://registry.npm.taobao.org
